body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: none;
  border-top: dotted;
  border-width: 5px;
  border-color: #EAF6F6;
  width: 3%;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.5rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.top-desc {
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 75px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
}

.bottom-container {
  background-color: #66BFBF;
  margin: 0;
  height: 150px;
  padding-top: 50px;
  line-height: 3;
}

.a {
  color: #11999E;
}

.footer-link {
  color: #11999E;
  margin: 0 20px;
  text-decoration: none;
}

.footer-link:hover {
  font-weight: bold;
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  margin-bottom: 0;
}

.dp {
  width: 250px;
}

.icons {
  width: 20%;
}

.programming {
  float: left;
  margin-right: 30px;
}

.text-class {
  float: right;
  margin-left: 30px;
}

.profile {
  width: 50%;
  margin: 25px auto 100px auto;
}

.skills {
  margin: 100px auto 100px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -13px 12px 0 #11999E;
  -moz-box-shadow: inset 0 -13px 12px 0 #11999E;
  box-shadow: inset 0 -13px 12px 0 #11999E;
  padding: 10px 20px 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background: #30E3CB;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
